<canvas id="go-board" width="600" height="540" style="background-color:#cccc99; border:2px solid red;" onmouseDown="mousedown(event)"></canvas>

<h1>Go3</h1>
<h3>3 Player Hexagonal GO Game</h3>

<p>Click on the board at any <em>intersection</em> of lines to make a move by the Red player. The server will respond with moves by the White and Blue players. Then you can make another move.</p>

<p>This game uses the traditional rules of Go, adapted to the hexagonal grid with 3 players. I haven't yet attempted to implement any AI for the other two players. Their moves are simply picked at random at this point.</p>

<p>Here's an explanation of what to expect while you operate this app, whether you know the rules of Go or not. Traditional Go starts with an empty board, with a square grid of 19x19 lines. Two players, <em>black</em> and <em>white</em>, alternate placing stones on the gameboard. Button shaped playing pieces called <em>stones</em> are played on the intersections of the lines, which are called <em>points</em>. In this app, we have a hexagonal shaped board, where each point has six neighbors rather than four. The three players are called <em>red</em>, <em>white</em> and <em>blue</em>. The user plays the red stones, and the moves for white and blue are chosen by the server.</p>

<p>In the course of gameplay in Go, each player forms connected groups of stones, which may or may not be vulnerable to being killed by an opposing player. Since the the white and blue players are just choosing moves randomly in this version of the app, they are incapable of forming invulnerable groups. Therefore, a user who knows how to play Go can eventually kill most of the enemy stones and fill the board with red groups. It should also be noted that in Go, there is no set end to gameplay. The game ends when each side agrees there are no more profitable moves to be made. So perhaps it is best to think of this app as an experiment to play with, rather than an actual game to be played from beginning to end.</p>
