<h1>Go3</h1>

<h3>3 Player Hexagonal GO Game</h3>

<canvas id="canvas" data-go-game="<%= go_string %>" width="600" height="540" style="background-color:#cccc99; border:2px solid red" onmouseDown="mousedown(event)"></canvas>
