<canvas id="go-board" width="600" height="540" style="background-color:#cccc99; border:2px solid red;" onmouseDown="mousedown(event)"></canvas>

<h1>Go3</h1>
<h3>3 Player Hexagonal GO Game</h3>

<p>Click on the board at any <em>intersection</em> of lines to make a move by the Red player. The server will respond with moves by the White and Blue players. Then you can make another move.</p>

<p>This game uses the traditional rules of Go, adapted to the hexagonal grid with 3 players. I haven't yet attempted to implement any AI for the other two players. Their moves are simply picked at random at this point.</p>

<p>Here's an explanation of what to expect while you operate this app, whether you know the rules of Go or not. Traditional Go starts with an empty board, with a square grid of 19x19 lines. Two players, <em>black</em> and <em>white</em>, alternate placing stones on the gameboard. Button shaped playing pieces called <em>stones</em> are played on the intersections of the lines, which are called <em>points</em>. In this app, we have a hexagonal shaped board, where each point has six neighbors rather than four. The three players are called <em>red</em>, <em>white</em> and <em>blue</em>. The user plays the red stones, and the moves for white and blue are chosen by the server.</p>

<p>In the course of gameplay in Go, each player forms connected groups of stones, which may or may not be vulnerable to being killed by an opposing player. Since the the white and blue players are just choosing moves randomly in this version of the app, they are incapable of forming invulnerable groups. Therefore, a user who knows how to play Go can eventually kill most of the enemy stones and fill the board with red groups. It should also be noted that in Go, there is no set end to gameplay. The game ends when each side agrees there are no more profitable moves to be made. So perhaps it is best to think of this app as an experiment to play with, rather than an actual game to be played from beginning to end.</p>

<script>

class BoardStats {
  
  constructor () {
    this.rowStart = [1,1,1,1,1,1,2,3,4,5,6]
    this.rowEnd = [6,7,8,9,10,11,11,11,11,11,11]
    
    this.westToEast = [
      [[1,1], [6,1]],
      [[1,2], [7,2]],
      [[1,3], [8,3]],
      [[1,4], [9,4]],
      [[1,5], [10,5]],
      [[1,6], [11,6]],
      [[2,7], [11,7]],
      [[3,8], [11,8]],
      [[4,9], [11,9]],
      [[5,10], [11,10]],
      [[6,11], [11,11]]
    ]
    
    this.southwestToNortheast = [
      [[1,6], [1,1]],
      [[2,7], [2,1]],
      [[3,8], [3,1]],
      [[4,9], [4,1]],
      [[5,10], [5,1]],
      [[6,11], [6,1]],
      [[7,11], [7,2]],
      [[8,11], [8,3]],
      [[9,11], [9,4]],
      [[10,11], [10,5]],
      [[11,11], [11,6]]
    ]
    
    this.northwestToSoutheast = [
      [[1,6], [6,11]],
      [[1,5], [7,11]],
      [[1,4], [8,11]],
      [[1,3], [9,11]],
      [[1,2], [10,11]],
      [[1,1], [11,11]],
      [[2,1], [11,10]],
      [[3,1], [11,9]],
      [[4,1], [11,8]],
      [[5,1], [11,7]],
      [[6,1], [11,6]]
    ]

  }
}
  
  
class CanvasHelper {

  constructor () {
    this.canvas = document.getElementById('go-board')
    this.context = this.canvas.getContext('2d')
    this.board = new BoardStats()
    this.boardBase = new BoardBase(this)
    this.boardLines = new BoardLines(this)
  }

  getX (ab) {
    return 150 + 50*ab[0] - 25*ab[1]
  }
  
  getY (ab) {
    return 6 + 44*ab[1]
  }
  
  getPoint (x,y) {
    let point = []
    let a = -1
    let b = -1
    let r2 = 999
    let inBounds = true

    b = Math.floor((y-28)/44)+1
    a = Math.floor((x-125+25*b)/50)
    if ( b<1 ) { inBounds = false }
    if ( b>11 ) { inBounds = false }
    if ( a<this.board.rowStart[b-1]) { inBounds = false }
    if ( a>this.board.rowEnd[b-1] ) { inBounds = false }

    let dx = Math.abs(x-this.getX([a,b]))
    let dy = Math.abs(y-this.getY([a,b]))
    r2 = dx*dx+dy*dy
    if  (r2>530 ) { inBounds = false }

    if ( inBounds ) {
      point = [a,b]
    }

    return point
  }

  getRgb (color) {
    const colorCodes = {
      red: '#cc3333',
      white: '#f0f0f0',
      blue: '#5050cc'
    }
    return colorCodes[color]
  }

  drawStone (ab, color) {
    this.context.strokeStyle = "#000000"
    this.context.lineWidth = 2
    this.context.fillStyle = this.getRgb(color)
    this.context.beginPath()
    this.context.arc(this.getX(ab), this.getY(ab), 17, 0, 2 * Math.PI, false)
    this.context.fill()
    this.context.stroke()
    this.context.closePath()
    this.context.beginPath()
    this.context.strokeStyle = "#cc9933"
    this.context.arc(this.getX(ab), this.getY(ab), 19, 0, 2 * Math.PI, false)
    this.context.stroke()
    this.context.closePath()
  }

  redraw (stones) {
    const colors = ['red', 'white', 'blue']

    this.boardBase.drawBase()
    this.boardLines.drawLines()
    
    colors.forEach( (color) => {
      const points = stones[color]
      points.forEach ( (point) => {
        this.drawStone(point, color)
      })
    })
  }

}


class BoardBase {

  constructor (boardCanvas) {
    this.bCanvas = boardCanvas
    this.board = this.bCanvas.board
    this.drawBase()
  }
  
  drawBase () {
    this.canvas = document.getElementById('go-board')
    this.context = this.canvas.getContext('2d')
    this.drawBaseHex()
    this.drawBaseMargin()
  }
  
  drawBaseHex () {
    this.context.strokeStyle = "#000000"
    this.context.lineWidth = 5
    this.context.fillStyle = "#cc9933"
    this.context.beginPath()
    this.context.moveTo(157,26)
    this.context.lineTo(443,26)
    this.context.lineTo(576,270)
    this.context.lineTo(443,514)
    this.context.lineTo(157,514)
    this.context.lineTo(25,270)
    this.context.lineTo(157,26)
    this.context.fill()
    this.context.stroke()
    this.context.closePath()
  }
  
  drawBaseMargin () {
    this.context.strokeStyle = "#000000"
    this.context.lineWidth = 3
    this.context.beginPath()
    this.context.moveTo(163,34)
    this.context.lineTo(437,34)
    this.context.lineTo(567,270)
    this.context.lineTo(437,506)
    this.context.lineTo(163,506)
    this.context.lineTo(33,270)
    this.context.lineTo(163,34)
    this.context.stroke()
    this.context.closePath()
  }
  
}
  
  
class BoardLines {
  
  constructor (boardCanvas) {
    this.bCanvas = boardCanvas
    this.board = this.bCanvas.board
    this.drawLines()
  }
  
  drawLines () {
    this.drawWestToEastLines()
    this.drawSouthwestToNortheastLines()
    this.drawNorthwestToSoutheastLines()
  }

  drawWestToEastLines () {
    [0,1,2,3,4,5,6,7,8,9,10].forEach((i) => {
      this.drawLine(this.board.westToEast[i][0], this.board.westToEast[i][1])
    })
  }
  
  drawSouthwestToNortheastLines () {
    [0,1,2,3,4,5,6,7,8,9,10].forEach((i) => {
      this.drawLine(this.board.southwestToNortheast[i][0], this.board.southwestToNortheast[i][1])
    })
  }
  
  drawNorthwestToSoutheastLines () {
    [0,1,2,3,4,5,6,7,8,9,10].forEach((i) => {
      this.drawLine(this.board.northwestToSoutheast[i][0],this.board.northwestToSoutheast[i][1])
    })
  }
  
  drawLine (beg, end) {
    this.canvas = document.getElementById('go-board')
    this.context = this.canvas.getContext('2d')
    this.context.strokeStyle = "#000000"
    this.context.lineWidth = 3
    this.context.beginPath()
    this.context.moveTo(this.bCanvas.getX(beg),this.bCanvas.getY(beg))
    this.context.lineTo(this.bCanvas.getX(end),this.bCanvas.getY(end))
    this.context.stroke()
    this.context.closePath()
  }
  
}


// Global scope items

this.mousedown = (e) => {
  this.canvas = document.getElementById('go-board')
  const dx = this.canvas.offsetLeft
  const dy = this.canvas.offsetTop
  const px = e.pageX
  const py = e.pageY
  const x = px-dx
  const y = py-dy
  const point = this.canvasHelper.getPoint(x,y)
  if ( legalMove(point) ) {
    this.canvasHelper.drawStone(point,"red")
    const objOut = {red_move: point, new_game: this.newgame}
    const msgOut = JSON.stringify(objOut)
    const xhr = new XMLHttpRequest()
    const url = "/make-a-move"
    xhr.open('POST',url)
    xhr.onreadystatechange = () => {
      if (xhr.readyState === 4 && xhr.status === 200) {
        const msgIn = xhr.responseText
        const response = JSON.parse(msgIn)
        addStones(response)
        updateLegalMoves(response.legal_red_moves)
      }
    }
    xhr.send(msgOut)
    this.newgame = "no"
  }
}


const legalMove = (point) => {
  return this.legalMoves.some((p) => p[0] === point[0] && p[1] === point[1] )
}


const getInitLegalMoves = () => {
  const zeroToTen = [0,1,2,3,4,5,6,7,8,9,10]
  let legalMoves = []
  for (const i of zeroToTen) {
    for (let j = this.canvasHelper.board.rowStart[i]; j <= this.canvasHelper.board.rowEnd[i]; j++) {
      let pp = []
      pp[0] = j
      pp[1] = i+1
      legalMoves.push(pp)
    }
  }
  return legalMoves
}


const addStones = (response) => {
  const stones = JSON.parse(response.stones)
  reset(stones)
}


const reset = (stones) => {
  this.canvasHelper.redraw(stones)
}


const updateLegalMoves = (legalMoves) => {
  this.legalMoves = legalMoves
}


const start = () => {
  this.newgame = "yes"
  this.canvasHelper = new CanvasHelper
  this.legalMoves = getInitLegalMoves()
}



window.onload = start


</script>